(
    instance:latency_seconds:mean5m
  > on (job) group_left()
    (
        avg by (job)(instance:latency_seconds:mean5m)
      + on (job)
        2 * stddev by (job)(instance:latency_seconds:mean5m)
    )
)
> on (job) group_left()
  1.2 * avg by (job)(instance:latency_seconds:mean5m)
and on (job)
  avg by (job)(instance:latency_seconds_count:rate5m) > 1
